<div class="container">

    <h1 align="center">Create a new interest page</h1>
    <div class="row-fluid" id="login-div">

        <div class="well span4 offset4" style="background: rgba(234, 239, 244, .5);" align="center">
            @helper.form(routes.Application.createInterest()) {
                <div class="form-group">
                    <label class="col-sm-3 control-label">Interest title</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="interest" placeholder="Interest title" size="82.5" style="height: 30px;" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Interest description</label>
                    <div class="col-sm-5">
                        <textarea name="description" cols="80" rows="10" placeholder="Interest description"></textarea> <br>
                    </div>
                </div>
                <button type="submit" class="green" style="height:30px;width:60px">Create</button>
            }

            @helper.form(routes.Application.interestsListPage()) {
            <button type="submit" class="blue" style="height:30px;width:80px">Go back</button>
            }
        </div>
    </div>
</div>


<style type="text/css">
.green{
border-style: solid;
border-width: 0px 0px 3px;
box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
color: #FFFFFF;
border-radius: 6px;
cursor: pointer;
display: inline-block;
font-style: normal;
overflow: hidden;
text-align: center;
text-decoration: none;
text-overflow: ellipsis;
transition: all 200ms ease-in-out 0s;
white-space: nowrap;
font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
font-weight: 700;
padding: 4px 1px 4px;
font-size: 15px;
border-color: #3AC162;
background-color: #5FCF80;
}

.blue{
border-style: solid;
border-width: 0px 0px 3px;
box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
color: #FFFFFF;
border-radius: 6px;
cursor: pointer;
display: inline-block;
font-style: normal;
overflow: hidden;
text-align: center;
text-decoration: none;
text-overflow: ellipsis;
transition: all 200ms ease-in-out 0s;
white-space: nowrap;
font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
font-weight: 700;
padding: 4px 1px 4px;
font-size: 15px;
background-color: #397CAC;
border-color: #326E99;
}
</style>