@(client: models.Client)

@main("Edit Profile") {

<div class="container">
<div style="overflow: hidden; padding-right: .5em;">
    <h1 align="center">@client.name</h1>
</div>​

<div class="row-fluid" id="login-div">

    <div class="well span4 offset4" style="background: rgba(234, 239, 244, .5);" align="center">
@helper.form(routes.Application.editMyProfile()) {
<div class="form-group">
    <label class="col-sm-3 control-label"><h2>Describe Yourself!</h2> </label>
    <div class="col-sm-4">
        <input type="text" class="form-control" name="description" placeholder="Description" size="70" style="height: 70px;" >
    </div>
</div>
        <br>
<button type="submit" class="green" style="height:30px;width:60px">Save</button>
}

    </div>
</div>
</div>

<style type="text/css">
    .green{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 8px 4px;
    font-size: 15px;
    border-color: #3AC162;
    background-color: #5FCF80;
    }

    h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
    }

    h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 21px;
    }

    h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
    }
    p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    }
    blockquote {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    }
    pre {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
    }
    body {
    background-size: 250% 215%;
    background-image: url('https://vast-gorge-5265.herokuapp.com/assets/images/background.jpg');
    }
</style>
}





