@(client: models.Client, requestReceived : Boolean, friendAlready : Boolean, interestLikes : java.util.List[InterestLikes])

@main(client.name) {

<h1>@client.name</h1>

@helper.form(routes.Application.message(client.email, "nothing", 0)) {
<button type="submit" id="message" class="action">Message</button>
}

@helper.form(routes.Application.addFriend(client.email)) {
<button id="add" type="submit" class="action">add friend</button>
}

@helper.form(routes.Application.acceptFriendRequest(client.email)) {
<button id="accept" type="submit" class="action">accept friend request</button>
}

<h2>Description:</h2>
<h2>@client.description</h2>

<h2>Interests:</h2>
@for(interestLike <- interestLikes) {
    @helper.form(routes.Application.interestPage(interestLike.interest)) {
    <button type="submit" class="blue"> <h3>@interestLike.interest - @interestLike.likes likes</h3></button>
<h4> </h4>
    }
}


<script type="text/javascript">
            var accept = document.getElementById('accept');
            var add = document.getElementById('add');
            var message = document.getElementById('message');

            if(@friendAlready) {
                message.style.display = "";
                add.style.display = "none";
                accept.style.display = "none";
            } else {
                 if(@requestReceived){
                       message.style.display = "none";
                       add.style.display = "none";
                       accept.style.display = "";
                 } else {
                       message.style.display = "none";
                       accept.style.display = "none";
                       add.style.display = "";
                 }
            }
</script>


<style type="text/css">
    h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
    }
    h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    }
    h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
    }
    h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 5px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
    }
    p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    }
    blockquote {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    }
    pre {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
    }

    .action{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 13px 4px;
    font-size: 15px;
    border-color: #3AC162;
    background-color: #5FCF80;

    }

    .blue{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 3px 6px 3px;
    font-size: 15px;
    background-color: #397CAC;
    border-color: #326E99;
    }
    body {
    background-size: 250% 215%;
    background-image: url('https://vast-gorge-5265.herokuapp.com/assets/images/background.jpg');
    }
</style>



}