@(client: models.Client, waiting : java.util.List[String])

@main("RandChat") {



@for(w <- waiting) {
  <h1>User pool: @w</h1>
}


    <h1>Simple chat</h1>
    <h3>current user: @Application.currentClient.getName()</h3>
    <h3>the other side: @Application.theOtherUserName </h3>

    <div id="the-other-side"></div>
    <div id="socket-messages"></div>

    <input type="text" id="socket-input" placeholder="message to send" />

@helper.form(routes.Application.pairing()) {
<button class="btn" href="/landing">Start</button>
}

    <script type="text/javascript" charset="utf-8" src="@routes.Application.wsJs()"></script>
@helper.form(routes.Application.showWaiting()) {
<button class="btn" href="/landing">Waiting</button>
}

}

