@(client: models.Client, interestLikes : java.util.List[InterestLikes])

@main("My Profile") {


@helper.form(routes.Application.editMyProfilePage()) {
<input type="submit" class="green" value="Edit My Profile" style="float: right">
}

<div style="overflow: hidden; padding-right: .5em;">
<h1>@client.name</h1>
</div>​

<h2>My Description:</h2>
<h2>@client.description</h2>
<h3> </h3>

<h2>My Interests:</h2>
@for(interestLike <- interestLikes) {
    @helper.form(routes.Application.interestPage(interestLike.interest)) {
    <button type="submit" class="blue"> <h3>@interestLike.interest - @interestLike.likes likes</h3></button>
<h4> </h4>
    }
}

<style type="text/css">
.blue{
border-style: solid;
border-width: 0px 0px 3px;
box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
color: #FFFFFF;
border-radius: 6px;
cursor: pointer;
display: inline-block;
font-style: normal;
overflow: hidden;
text-align: center;
text-decoration: none;
text-overflow: ellipsis;
transition: all 200ms ease-in-out 0s;
white-space: nowrap;
font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
font-weight: 700;
padding: 4px 8px 4px;
font-size: 15px;
background-color: #397CAC;
border-color: #326E99;
}

    .green{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 8px 4px;
    font-size: 15px;
    border-color: #3AC162;
    background-color: #5FCF80;
    }
    h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
    }
    h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    }
    h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
    }
    h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 5px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
    }
    p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    }
    blockquote {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    }
    pre {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
    }
    body {
    background-size: 250% 215%;
    background-image: url('https://vast-gorge-5265.herokuapp.com/assets/images/background.jpg');
    }
</style>

}