@(client: models.Client, waiting : java.util.List[Client], chatPairs : java.util.List[Client])

@main("RandChat") {


@helper.form(routes.Application.logOut()) {
<input type="submit" value="Log Out" style="float: right;height:40px;width:100px">
}



<input type="button" value="My Profile" onclick="popUp('myProfile','myWindow','700','620','yes');return false" id="myProfile" style="float: right;height:40px;width:100px">

<input type="button" value="Interests" onclick="popUp('interestsListPage','myWindow','700','620','yes');return false" style="float: right;height:40px;width:100px">

@helper.form(routes.Application.friendListPage()) {
<input type="submit" value="My Friends" style="float: right;height:40px;width:100px">
}

<input type="button" value="Unread" onclick="popUp('showUnread','myWindow','700','620','yes');return false" id="unread" style="float: right;height:40px;width:100px">

<h1>Welcome to RandChat, @client.name.</h1>

<input type="button" value="the other user's profile" onclick="popUp('friendProfile','myWindow','700','620','yes');return false"style="height:40px;width:190px"><br/>

<script language="javascript">
var popupWindow = null;
function popUp(url,winName,w,h,scroll){
LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
settings =
'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
popupWindow = window.open(url,winName,settings)
}
</script>



    <div id="socket-messages" ></div>
<style type="text/css">
#socket-messages{
    text-align:left;

    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:460px;
    width:900px;

    overflow:auto;
}


</style>

    <input type="text" id="socket-input" placeholder="message to send" style="height:30px;width:800px" />




<script type="text/javascript">
function nextUser()
{
        $.ajax(
           "/nextUser",
        {
        type: 'GET',
        dataType: 'text',
        success: function (data, textStatus, jqXHR){
            var rText = jqXHR.responseText;
            $('#socket-messages').append(rText);
        },
        error: function (jqXHR, textStatus, errorThown){
            // alert('Load failed');
        },
        cache:false
    });
}
 </script>

<script type="text/javascript">

        $.ajax(
           "/unreadNum",
        {
        type: 'GET',
        dataType: 'text',
        success: function (data, textStatus, jqXHR){
            var rText = jqXHR.responseText;
            var elem = document.getElementById("unread");
           elem.value = "Unread " + rText;
        },
        error: function (jqXHR, textStatus, errorThown){
            // alert('Load failed');
        },
        cache:false
    });

 </script>



<input type="button" value="Next User" onclick="popUp('nextUser','myWindow','700','620','yes');return false" style="height:40px;width:100px" >


    <script type="text/javascript" charset="utf-8" src="@routes.Application.wsJs()"></script>


}

