@(client: models.Client, waiting : java.util.List[Client], chatPairs : java.util.List[Client])

@main("RandChat") {



@for(w <- waiting) {
  <h1>Waiting pool: @w.email</h1>
}

@for(w <- chatPairs) {
<h1>ChatPair pool: @w.email</h1>
}


    <h1>Welcome to RandChat</h1>

<script language="javascript">
var popupWindow = null;
function unreadPopUp(url,winName,w,h,scroll){
LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
settings =
'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
popupWindow = window.open(url,winName,settings)
}
</script>


<input type="button" value="Interests" onclick="InterestPopUp('interestsListPage','myWindow','700','620','yes');return false">


<input type="button" value="Unread" onclick="unreadPopUp('showUnread','myWindow','700','620','yes');return false" id="unread">


    <h3>current user: @client.name</h3>


<script language="javascript">
var popupWindow = null;
function InterestPopUp(url,winName,w,h,scroll){
LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
settings =
'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
popupWindow = window.open(url,winName,settings)
}
</script>

<script language="javascript">
var popupWindow = null;
function friendProfilePopUp(url,winName,w,h,scroll){
LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
settings =
'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
popupWindow = window.open(url,winName,settings)
}
</script>

<input type="button" value="the other user's profile" onclick="friendProfilePopUp('friendProfile','myWindow','700','620','yes');return false">

    <div id="the-other-side"></div>
    <div id="socket-messages"></div>

    <input type="text" id="socket-input" placeholder="message to send" />



<script type="text/javascript">
function nextUser()
{
        $.ajax(
           "/nextUser",
        {
        type: 'GET',
        dataType: 'text',
        success: function (data, textStatus, jqXHR){
            var rText = jqXHR.responseText;
            $('#socket-messages').append(rText);
        },
        error: function (jqXHR, textStatus, errorThown){
            // alert('Load failed');
        },
        cache:false
    });
}
 </script>

<script type="text/javascript">

        $.ajax(
           "/unreadNum",
        {
        type: 'GET',
        dataType: 'text',
        success: function (data, textStatus, jqXHR){
            var rText = jqXHR.responseText;
            var elem = document.getElementById("unread");
           elem.value = "Unread " + rText;
        },
        error: function (jqXHR, textStatus, errorThown){
            // alert('Load failed');
        },
        cache:false
    });

 </script>




    <button onclick="nextUser()">Next User</button>


    <script type="text/javascript" charset="utf-8" src="@routes.Application.wsJs()"></script>


}

