@(client: models.Client)

@main("RandChat") {


@helper.form(routes.Application.logOut()) {
<input type="submit" class="red" value="Log Out" style="float: right;height:40px;width:100px">
}



<input type="button" class="blue" value="My Profile" onclick="popUp('myProfile','myWindow','700','620','yes');return false" style="float: right;height:40px;width:100px">

<input type="button" class="blue" value="Interests" onclick="popUp('interestsListPage','myWindow','700','620','yes');return false" style="float: right;height:40px;width:100px">

<input type="button" class="blue" value="Friends" onclick="popUp('friendListPage','myWindow','700','620','yes');return false" style="float: right;height:40px;width:100px">

<input type="button" class="grey" value="Unread" onclick="popUp('showUnread','myWindow','700','620','yes');return false" id="unread" style="float: right;height:40px;width:100px">

<h1>Welcome to RandChat, @client.name.</h1>

<input type="button" id="other" class="green" value="the other user's profile" onclick="popUp('friendProfile','myWindow','700','620','yes');return false"style="height:40px;width:190px"><br/>

<script language="javascript">
var popupWindow = null;
function popUp(url,winName,w,h,scroll){
LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
settings =
'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
popupWindow = window.open(url,winName,settings)
}
</script>



<div id="socket-messages" ></div>
<style type="text/css">
#socket-messages{
    text-align:left;

    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:460px;
    width:830px;

    overflow:auto;
}

    .green{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 1px 4px;
    font-size: 15px;
    border-color: #3AC162;
    background-color: #5FCF80;
    }

    .red{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 1px 4px;
    font-size: 15px;
    background-color: #ED5A5A !important;
    border-color: #EA4343 !important;
    }

    .blue{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 1px 4px;
    font-size: 15px;
    background-color: #397CAC;
    border-color: #326E99;
    }

    .grey{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 1px 4px;
    font-size: 15px;
    background-color: #C6CCD2;
    border-color: #AAB3BB;
    }

    h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
    }
    h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
    }
    p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    }
    blockquote {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    }
    pre {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
    }
    body {
    background-size: 145% 175%;
    background-image: url('https://vast-gorge-5265.herokuapp.com/assets/images/background.jpg');
    }

</style>


    <input type="text" id="socket-input" placeholder="message to send" style="height:30px;width:740px" />




<script type="text/javascript">
function nextUser()
{
        $.ajax(
           "/nextUser",
        {
        type: 'GET',
        dataType: 'text',
        success: function (data, textStatus, jqXHR){
            var rText = jqXHR.responseText;
            $('#socket-messages').append(rText);
        },
        error: function (jqXHR, textStatus, errorThown){
            // alert('Load failed');
        },
        cache:false
    });
}
 </script>

<script type="text/javascript">

        $.ajax(
           "/unreadNum",
        {
        type: 'GET',
        dataType: 'text',
        success: function (data, textStatus, jqXHR){
            var rText = jqXHR.responseText;
            var elem = document.getElementById("unread");
            elem.value = "Unread " + rText;
        },
        error: function (jqXHR, textStatus, errorThown){
            // alert('Load failed');
        },
        cache:false
    });

 </script>


<button onclick="nextUser()" class="red"  style="height:40px;width:100px">Next User</button>

    <script type="text/javascript" charset="utf-8" src="@routes.Application.randChatWS()"></script>


}

