@(interestTitle : String)

<h2>Successfuly created @interestTitle!</h2>

@helper.form(routes.Application.interestsListPage()) {
<button type="submit"class="blue">Go back</button>
}


<style type="text/css">
    h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 21px;
    }

    .blue{
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 4px 8px 4px;
    font-size: 15px;
    background-color: #397CAC;
    border-color: #326E99;
    }
    body {
    background-size: 250% 215%;
    background-image: url('https://vast-gorge-5265.herokuapp.com/assets/images/background.jpg');
    }
</style>