@(requestClients: java.util.List[Client], confirmationClients : java.util.List[Client], messageForms : java.util.List[UnreadMessage])

@main("Unread") {

<h1>Unread</h1>

<ul>
    @for(requestClient <- requestClients) {
        @helper.form(routes.Application.findFriendProfileWithClientEmail(requestClient.email, "request")) {
        <button type="submit" class="blue"> <h3> @requestClient.name sent you a friend request</h3></button><br>
        }
    }
</ul>

<ul>
    @for(confirmationClient <- confirmationClients) {
        @helper.form(routes.Application.findFriendProfileWithClientEmail(confirmationClient.email, "confirmation")) {
        <button type="submit" class="blue"> <h3> @confirmationClient.name has accepeted your friend request</h3></button><br>
        }
    }
</ul>

<ul>
    @for(messageForm <- messageForms) {
        @helper.form(routes.Application.message(messageForm.email, "updateUnread", messageForm.number)) {
        <button type="submit" class="blue"> <h3>@messageForm.clientName has sent you a message.</h3></button><br>
        }
    }
</ul>

<style type="text/css">
.blue{
border-style: solid;
border-width: 0px 0px 3px;
box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
color: #FFFFFF;
border-radius: 6px;
cursor: pointer;
display: inline-block;
font-style: normal;
overflow: hidden;
text-align: center;
text-decoration: none;
text-overflow: ellipsis;
transition: all 200ms ease-in-out 0s;
white-space: nowrap;
font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
font-weight: 700;
padding: 4px 8px 4px;
font-size: 15px;
background-color: #397CAC;
border-color: #326E99;
}

    h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
    }

    h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 21px;
    }

    h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
    }
    p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    }
    blockquote {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    }
    pre {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
    }
    body {
    background-image: url('https://unsplash.imgix.net/40/10294420724_0300cf921d_o.jpg?dpr=2&fit=crop&fm=jpg&h=700&q=75&w=1050');
    }
</style>
}
